.container {
  margin: 16px;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);

  @media (width >= 600px) {
    margin: 50px;
    column-gap: 10px;
    row-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width >= 1024px) {
    margin: 50px;
    column-gap: 10px;
    row-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.imageContainer {
  aspect-ratio: 5/7;
  position: relative;
}
