@use 'styles/sizes';

.container {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);

  @media (sizes.$medium) {
    row-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (sizes.$large) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.imageContainer {
  aspect-ratio: 5/7;
  position: relative;
}

.image {
  object-fit: cover;
}
